*{
    margin: 0;
    padding: 0;
}



body{
    margin: 0px;
    padding: 0px;
}





#topnavbar{
    list-style-type: none;
    background-color: white;
    color: #363636;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    font-family: "SamsungOneLatinWeb";
    text-transform: uppercase;
    margin-top: 0;
   
}


#topnavbar ul{

    padding: 10px; 
    
}

#topnavbar li{
    display: inline;
    margin: 1.5vw;
    
}


#topnavbar li:first-child{
    margin-left: 5px;
    padding-left: 5px;
}


#topnavbar li:nth-child(6){
    margin: 0px;
    padding: 0px;
    height: 250px;
    width: 82.469;
}



#hero{
    
    
}

#heros{

}


