/*--------navbar-----------*/

*{
    margin: 0;
    padding: 0;
}



body{
    margin: 0px;
    padding: 0px;
}


#topnavbar{
    list-style-type: none;
    background-color: white;
    color: #363636;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    font-family: "SamsungOneLatinWeb";
    text-transform: uppercase;
    margin-top: 0;
   
}


#topnavbar ul{

    padding: 10px; 
    
}

#topnavbar li{
    display: inline;
    margin: 1.5vw;
    
}


#topnavbar li:first-child{
    margin-left: 5px;
    padding-left: 5px;
}


#topnavbar li:nth-child(6){
    margin: 0px;
    padding: 0px;
    height: 250px;
    width: 82.469;
}
/*navbar*/



/*--------hero-----------*/


#hero {  
    height: 75vh; 
    background: url(images/HP-KVCarousel-WatchActive2-M-091919\ \(1\).jpg) no-repeat center;
    background-size: center; 
    position: relative;
    padding-top: 0px;;
}





#herotext{
    position: relative;
    top: 30.5vh;
    left: 12.5vw;
    color: black;
    font-family: "SamsungOneLatinWeb";
    
    font-size: 35px;
    margin: 0px;
    
    
}


#herotextsmall{
    position: relative;
    top: 30.7vh;
    left: 12.5vw;
    color: black;
    font-family: "SamsungOneLatinWeb";
    font-size: 19px;
    
}


#herotextsmallest{
    position: relative;
    top: 37.7vh;
    left: 12.5vw;
    color: black;
    font-family: "SamsungOneLatinWeb";
    font-size: 14px;
    text-decoration: underline;
}

#herotextsmaller{
    position: relative;
    top: 36.2vh;
    left: 28.5vw;
    color: black;
    font-family: "SamsungOneLatinWeb";
    font-size: 14px;
    
}
/*hero*/



/*--------explore-----------*/

#explore{
    width: 100vw;
    height: 450px;
}


#exploreheader{
    width: 100vw;
    height: 61px;
    background-color: white;
    text-align: center;
    color: black;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: bold;
    padding-top: 80px;
    font-size: 22px;
    margin-left: 30px;
    
}


#exploresection{
    width: 100vw;
    height: 369px;
}


.explorebox{
    height: 369px;
    width: 25%;
    float: left;
}


#galaxyfold{
    background-image: url(https://image-us.samsung.com/SamsungUS/home/hp/09302019/Fold-Desktop.jpg?$flagship-component-blur-jpg$);
    background-position: center;
    background-size: cover;
    background-position: left top;
    padding: 20px;
  width: 300px;
  height: 200px;
  border-radius: 25px;
  margin-left: 200px;
}



#galaxytext{
    margin: 150px 35px;
    text-align: center;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 10px 20px;
    font-size:18px;
    position: absolute;
    
}


#phone{
    background-image: url(https://image-us.samsung.com/SamsungUS/homepage/mar_2019/030819/Explore_5G_Desktop.jpg?$default$);
    background-position: center;
    background-size: cover;
    background-position: left top;
    padding: 20px;
  width: 300px;
  height: 200px;
  border-radius: 25px;
  top: 50%; 
 left: 150%; 
  margin-top:-10px; 
  margin-left: 300px; 
  
}


#phonetext{
    margin: 150px 35px;
    text-align: center;
    color: white;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 20px 25px;
    font-size: 18px;
}


#Powerof{
    background-image: url(https://image-us.samsung.com/SamsungUS/home/hp/09302019/Powerof10-Desktop.jpg?$flagship-component-blur-jpg$);
    background-position: center;
    background-size: cover;
    background-position: left top;
    padding: 20px;
  width: 300px;
  height: 200px;
  border-radius: 25px;
  float: right;
  margin-right: 150px;
}



#powertext{
    margin: 150px 35px;
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 18px;
    font-family: 'PT Sans Narrow', sans-serif;
    vertical-align: text-bottom;
    
}

/*explore*/

/*footer*/
.footer-wrap {
	background: whitesmoke;
	border-top: 1px solid whitesmoke;
}
.footer-top .container {
	border-bottom: 1px solid whitesmoke;
	padding-bottom: 20px;
}
.f-menu-list {
	margin-bottom: 20px;
    padding-top: 30px;
    list-style-type: none;
}
.f-menu-list .f-menu {
	float: left;
	width: 18.75%;
	padding: 0 15px;
    margin: 0 0 25px;
    list-style-type: none;
}
.f-menu-list .f-menu h3 {
	color: black;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
    text-transform: uppercase;
    font-family: 'SamsungOneLatinWeb', 'SamsungSans', 'Interface_bd', Arial, Helvetica, 'San-Serif';
    list-style-type: none;
}

.f-menu-list .f-menu ul li a{
	color: black;
	font-size: 14px;
	font-weight: 300;
    padding: 5px 0;
    list-style-type: none;
}
.f-menu-list .f-menu ul li a i {
    margin-right: 18px;
    list-style-type: none;
}


@media only screen and (max-width : 768px) {

 
    .f-menu-list .f-menu {
        width: 25%;
    }
    
    .f-block-modal-wrap .f-block-modal.f-block-modal-map {
        width: 420px;
    }
    .f-block-modal.f-block-modal-map .allstore-gmap {
        width: 420px;
    }
    /* Footer */
}
